.listing-edit {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  padding: 10em 10em 8em;
  margin: 0 auto;
}

.listing-edit > * {
  flex: 1 1 40em;
  width: 40em;
  margin: 0 2em;
}

.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
  align-self: center;
}

.edit-listing-image {
  display: flex;
  margin-top: 20px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  margin: 10em;
  /* padding: 8em; */
}

.input-name {
  /* display:flex;
margin-bottom: 3em;
height: 2.1em; */
  width: 80%;
  margin-top: 0.7rem;
  margin-left: 10%;
  margin-bottom: 25px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(214, 214, 214);
  padding-left: 0.5em;
}

.input-price {
  /* display:flex;
  margin-bottom: 3em;
  height: 2.1em; */
  width: 80%;
  margin-top: 0.7rem;
  margin-left: 10%;
  margin-bottom: 25px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(214, 214, 214);
  padding-left: 0.5em;
}

.input-image-link {
  /* display:flex;
  margin-bottom: 3em;
  height: 2.1em; */
  width: 80%;
  margin-top: 0.7rem;
  margin-left: 10%;
  margin-bottom: 25px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(214, 214, 214);
  padding-left: 0.5em;
}

.textarea-description {
  /* display:flex;
  margin-bottom: 3em; */
  width: 80%;
  margin-top: 0.7rem;
  margin-left: 10%;
  margin-bottom: 25px;
  resize: none;
  /* height: 0px; */
  border-radius: 4px;
  border: 1px solid rgb(214, 214, 214);
  padding-left: 0.5em;
}

.save-button {
  width: 80%;
  margin-top: 0.7rem;
  margin-left: 10%;
  margin-bottom: 25px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(214, 214, 214);
  padding-left: 0.5em;
  background: #456471;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
}
