:root {
  -clr-main-blue: #456471;
  -clr-light-blue: #2a9d8f;
  -clr-yellow: #e9c46a;
  -clr-dark-orange: #f4a261;
  -clr-light-orange: #e76f51;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
