.sort-container {
  display: flex;
  width: 83.5vw;
  justify-content: flex-end;
  align-items: baseline;
  margin: 20px;
  background-color: #fafafa;
}

.sort-label {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-right: 10px;
  background-color: #fafafa;
}

select {
  cursor: pointer;
  border: none;
  font-size: 18px;
  background-color: #fafafa;
}

option {
  font-family: "Roboto", sans-serif;
}

/* @media (max-width: 500px) {
  .sort-container {
    width: 100%;
    justify-content: center;
    margin: 0px;
  }
} */
