.slider {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 40em;
  object-fit: cover;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
}
.title {
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  color: #fff;
  background-color: rgba(69, 100, 113, 0.6);
  width: 100vw;
  height: 4em;
  font-family: "Roboto", sans-serif;
  margin-top: 25em;
  font-size: 20px;
  font-weight: lighter;
  padding-top: 1em;
  padding-left: 22em;
  padding-right: 22em;
  letter-spacing: 0.1em;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease-in-out;
  animation: 20s infinite;
}
.slide.active {
  opacity: 5;
  transition-duration: 1s ease-in-out;
}
