.slider {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.image {
  margin: 0 auto;
  display: block;
  width: 100vw;
  height: 60vh;
  object-fit: cover;
}
.right-arrow {
  position: absolute;
  top: calc((100% - 80px) / 2);
  right: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
}
.left-arrow {
  position: absolute;
  top: calc((100% - 80px) / 2);
  left: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
}
.slider-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(69, 100, 113, 0.6);
  width: 100%;
  min-height: 4em;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 0.1em;
  margin-top: -5em;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease-in-out;
  animation: 20s infinite;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide.active {
  opacity: 5;
  transition-duration: 1s ease-in-out;
}

@media screen and (max-width: 420px) {
  .slider-title {
    margin-top: -10em;
    font-size: 17px;
    padding: 0.5rem;
    text-align: center;
  }
}
