.footer {
  background: #456471;
  height: 100%;
  display: flex;
  justify-content: center; 
   align-items: center;
  /* font-size: 1.2rem; */
  margin-top: 0px;
}

.footer-h1 {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  justify-content: center; 
  font-family: "Julius Sans One", sans-serif;
  font-size: 2.7rem;
  letter-spacing: 0.1em;
}

.footer-text {
  display: flex; 
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  padding: 1em;
}
.footer-h4 {
  display: flex; 
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  padding: 1em;
  font-weight: 500;
}

.footer-a {
  display: flex; 
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  padding: 1em;
  /* margin-left: 5px; */
}



.footer-img {
  display: flex; 
  justify-content: space-between;
  cursor: pointer;
  margin-top: 15px;
}

@media screen and (max-width: 1000px){  
.footer-h1 {
  font-size: 1.9em;
  margin-left: 18px;

}
.footer-h4, .footer-a{
  font-size: 14px;
}
}
@media screen and (max-width: 860px){  
  .footer-h1 {
    font-size: 1.7em;
    margin-left: 18px;
  }
  .footer-h4, .footer-a{
    font-size: 12px;
  }
  }
  @media screen and (max-width: 614px){  
    .footer-h1 {
      font-size: 1.3em;
      margin-left: 18px;
    }
    .footer-h4, .footer-a{
      font-size: 10px;
     

    }
    }
    @media screen and (max-width: 502px){  
      .footer-h1 {
        font-size: 1em;
        margin-left: 18px;
      }
      .footer-h4, .footer-a{
        font-size: 8px;
       
      }
      }


